.messages {
    height: 100%;
}

.messages__wrapper {
    display: grid;
    height: 100%;
    grid-template-columns: 210px 1fr;
}

.messages__dialogs {
    width: 210px;
    overflow: auto;
}

.messages__dialog {
    border: solid 2px rgb(117, 100, 145);
    border-bottom: none;
}

.messages__content {
    margin-left: 20px;
    height: 82vh;
    overflow: auto;
}

.messages__title {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.messages__add {
    border-top: 2px solid rgb(117, 100, 145);
    background-color: #fff;
    padding: 20px 15px 20px 15px;
    width: auto;
    display: flex;
}

.messages__area {
    margin-right: 10px;
    resize: none;
    padding: 10px 16px;
    width: calc(100% - 32px);
    padding: 10 16px;
    height: 40px;
    border: none;
    background-color: lightgrey;
    border-radius: 3px;
}

.messages__area:focus {
    outline: none;
}

.messages__button {
    background-color: #16A347;
    border-radius: 5px;
    border: none;
}

.messages__button:hover {
    cursor: pointer;
}