.title {
    font-size: 30px;
    line-height: 1;
}

.users {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.pages {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 0 auto;

}

.preloader {
    max-width: 70px;
    max-height: 70px;
    margin: 25% auto 0 auto;
}

.page {
    margin: 0 3px 0 3px;
}

.page:hover {
    cursor: pointer;
}

.page_active {
    font-size: 24px;
    font-weight: 500;
}