.title {
    font-size: 30px;
    line-height: 1;
}

.users {
    margin-bottom: 20px;
}

.pages {
    font-size: 18px;
}

.page {

}

.page:hover {
    cursor: pointer;
}

.page_active {
    font-size: 20px;
    font-weight: 500;
}