.header {
    margin-top: 10px;
    padding: 2px 10px;
    grid-area: h;
    background-color: #16A347;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__network {
    color: white;
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 700;
}

.header__logo {
    width: 50px;
    margin-right: 10px;
}

.header__user {
    height: 90%;
    border-radius: 50%;
}