.header {
    margin-top: 10px;
    padding: 2px 10px;
    grid-area: h;
    background-color: #16A347;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__network {
    color: white;
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 700;
}

.header__logo {
    width: 50px;
    margin-right: 10px;
}

.header__img {
    height: 90%;
    border-radius: 50%;
}

.header__login__wrapper {
    display: flex;
    align-items: center;
}

.header__login {
    color: white;
    padding: 5px 7px;
    line-height: 1;
    border-radius: 5px;
    border: solid 2px lightcyan;
    background-color: rgb(80, 177, 209);
}

.header__login__btn {
    color: white;
    text-decoration: none;
}

.header__login__btn:hover {
    text-decoration: none;
}

.header__img {
    color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    object-fit: cover;
    margin-left: 10px;
}

.header__link {
    color: white;
    text-decoration: none;
}

.header__link:hover {
    text-decoration: underline;
}

.header__img_wr {
    display: flex;
    justify-content: center;
}

.header__logout__btn {
    background: none;
    border: none;
    color: white;
    font-size: 15px;
}

.header__logout__btn:hover {
    cursor: pointer;
}