.info__wallpaper {
    width: 100%;
    height: 160px;
    object-fit: cover;
    margin-bottom: 8px;
}

.info__wrapper {
    display: flex;
}

.info__avatar {
    width: 120px;
    height: 120px;
    margin-right: 40px;
}

.info__descr {
    font-size: 20px;
}

.info__name {
    line-height: 0.9;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 23px;
}

.info__link {
    text-decoration: none;
    color: grey;
}

.info__link:hover {
    text-decoration: underline;
}