.app {
    height: 100vh;
    display: grid;
    grid-template-rows: 60px auto;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 
    "h h"
    "n m";
    width: 1140px;
    margin: 0 auto;
    gap: 12px;
}

.app__main {
    height: 100%;
}

h1 {
    margin: 0;
    line-height: 1;
}

.error {
    color: red;
    font-size: 18px;
    font-weight: 500;
}